<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WarehouseManagmentWEB</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/WarehouseManagmentWEB.styles.css" asp-append-version="true" />*@
    <style>
        #top {
            background-color: darkorange;
            font-family: Arial;
            font-size: large;
           
        }

        #naglowek {
            font-family: Arial;
            font-size: 35px;
            padding:10px;
            color:black;
        }

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            a:active {
                text-decoration: none;
            }

        #wylogowanie{
            float:right;
           
        }

    </style>

</head>
<body>
    <header id="top">
        <div class="container">
            <button id="wylogowanie"><a asp-controller="App" asp-action="Index">Wyloguj</a> </button>
            <a id="naglowek" class="navbar-brand" asp-area="" asp-page="/Shared/MainPage">MotorcycleScreens Menager - Kartony</a>
            
            
        </div>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>