@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.MainPageModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_MainPage";

}


<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div style="display:table;">
        <a style="display:table-cell;background-color:red;text-decoration: none;padding:50px;text-align:center;" href="/Shared/Orders">Zamówienia</a>
    </div>
    <div style="display:table;">
        <a style="display:table-cell;background-color:red;text-decoration: none;padding:50px;text-align:center;" href="/Shared/Cartons">Kartony</a>
    </div>
    <div style="display:table;">
        <a style="display:table-cell;background-color:red;text-decoration: none;padding:50px;text-align:center;" href="/Shared/Stats">Statystyki</a>
    </div>
    <div style="display:table;">
        <a style="display:table-cell;background-color:red;text-decoration: none;padding:50px;text-align:center;" href="/Shared/Items">Produkty</a>
    </div>
</body>
</html>