@page
@model IndexModel
@{
    ViewData["Title"] = "Warehouse Management";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - WarehouseManagmentWEB</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WarehouseManagmentWEB.styles.css" asp-append-version="true" />

    <style>
        body {
            background-color: #D0D9F6;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #4e73df;
            color: #fff;
        }

        nav {
            background-color: #4e73df;
            color: #fff;
            width: 250px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow-x: hidden;
            padding-top: 20px;
            padding: 30px;
        }

            nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
            }

            nav li {
                margin-bottom: 20px;
            }

            nav a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2rem;
            }

        .tiles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 50px;
        }

        .tile {
            background-color: #eee;
            width: calc(50% - 20px);
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
            color: #333;
        }

            .tile:hover {
                background-color: #ccc;
            }

            .tile h2 {
                margin: 0;
                font-size: 1.5rem;
                font-weight: bold;
            }

        footer {
            text-align: center;
            margin-top: 50px;
            padding: 20px;
            background-color: #eee;
            background-color: #A4B7EF;
        }

        .logout {
            margin-right: 20px;
        }

        .options {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .options a {
                color: #4e73df;
                margin-right: 20px;
            }

        button {
            position: fixed;
            bottom: 0;
            margin: 15px;
            color: #4e73df;
        }

            button:hover {
                background-color: #2b6cb0;
                color: white;
            }



        img {
            float: center;
            justify-content: center;
        }
    </style>
</head>

<meta charset="UTF-8">

<header>
    <nav>
        <img src="~/images/logo.png" alt="logo" width="120px" height="120px" />
        <ul>
            <li></li>
            <li><img src="~/images/mainpage.png" alt="mainpage" width="35px" height="35px" /><a asp-area="" asp-page="/Shared/MainPage">   Strona główna</a></li>
            <li><img src="~/images/product.png" alt="product" width="35px" height="35px" /><a asp-area="" asp-page="/Shared/Products">   Produkty</a></li>
            <li><img src="~/images/orders.png" alt="ordes" width="35px" height="35px" /><a asp-area="" asp-page="/Shared/Orders">   Zamówienia</a></li>
            <li><a asp-area="" asp-page="/Shared/Cartons"><img src="~/images/cartons.png" alt="cartons" width="35px" height="35px" />   Kartony</a></li>
            <li><img src="~/images/stats.png" alt="stats" width="35px" height="35px" /><a asp-area="" asp-page="/Shared/Stats">   Statystyki</a></li>
            <li><img src="~/images/options.png" alt="options" width="35px" height="35px" /><a asp-area="" asp-page="/Shared/Settings">   Zarządzaj</a></li>
            <li></li>
            <li></li>
            <li><img src="~/images/logout.png" alt="logout" width="35px" height="35px" /><a asp-area="" asp-page="/Shared/Index">   Wyloguj</a></li>
            @*<button id="wylogowanie"><a asp-controller="App" asp-action="Index">Wyloguj</a> </button>*@

        </ul>
    </nav>    <div>
    </div>
</header>

<!-- Treść strony -->
<main>
    <div class="tiles">
        <a class="tile" asp-area="" asp-page="/Shared/Products">
            <h2>Produkty</h2>
        </a>
        <a class="tile" asp-area="" asp-page="/Shared/Orders">
            <h2>Zamówienia</h2>
        </a>
        <a class="tile" asp-area="" asp-page="/Shared/Cartons">
            <h2>Kartony</h2>
        </a>
        <a class="tile" asp-area="" asp-page="/Shared/Stats">
            <h2>Statystyki</h2>
        </a>
    </div>
</main>

<!-- Stopka strony -->
<footer>
    <p>Strona wykonana przy użyciu technologii Razor Pages</p>
</footer>

</html>
