@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.ProductsModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_Items";

    var products = Products.GetProducts();
    var cartons = Cartons.GetCartons();
}


<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        a {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        li {
            padding: 10px;
        }

        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            margin: 0;
            font-size: 20px;
            color: black;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100px;
            margin: 20px;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            margin: 20px;
        }

        tr:nth-child(even) {
            background-color: darkorange;
        }
    </style>
</head>
<body>

    <table style="width:65%">
        <tr>
            <th>SKU</th>
            <th>Nazwa_produktu</th>
            <th>ID_kartonu</th>


        </tr>
        <tr>
            @if (products != null)
            {
                foreach (var item in products)
                {
                    <tr>
                    <td>@item.SKU </td>
                    <td>@item.Nazwa_produktu </td>
                    <td>@item.ID_kartonu </td>
                   </tr>

                }
            }



        </tr>
    </table>
</body>
</html>