@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.StatsModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_Stats";

}


<html>
<head>
    <style>
        a {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        li {
            padding: 10px;
        }

        body {
            background-image: url('/images/motorcycle.jpg');
            margin: 0;
            font-size: 30px;
            color: black;
        }

    </style>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <li>statystyki</li>
</body>
</html>