@page
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var o = Orders.GetOrders();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Token: </p>
</div>
